.cards-list-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    width: 80%;
}

.cards-row {
    display: flex;
    justify-content: start;
    gap: 20px;
}