html, body {
  overflow: scroll;
}

::-webkit-scrollbar {
  display: none;
}
.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: 'Montserrat', Arial, sans-serif;
  }

  .main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    width: 100vw;
    height: 100%;
}
